<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Edit</th>
				<th>Text</th>
				<th>Amount</th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items">
				<td>
					<button class="btn" ng-click="editItem($index,item.text)">
						<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
					</button>
				</td>
				<td>{{ item.text }}</td>
				<td>{{ item.amount }}</td>
			
			</tr>
		</tbody>
	</table>
</body>
</html>