<!DOCTYPE html>
<html>
<head>
</head>
<body>

	<button class="btn btn-success" ng-click="editItem('new',data.code)">
		<span class="glyphicon glyphicon-saved"></span> Create New Item
	</button>
	<hr>

	<h3 ng-show="edit">Create New Item:</h3>
	<h3 ng-hide="edit">Edit Item:</h3>

	<form class="form-horizontal">
		<div data-ng-init="getItems()">
			<div class="form-group">
				<label class="col-sm-2 control-label">Item Code</label>
				<div class="col-sm-10">
					<input type="text" ng-model="data.code" ng-disabled="!edit"
						placeholder="Item Code">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Item Name</label>
				<div class="col-sm-10">
					<input type="text" ng-model="data.name" ng-disabled="!edit"
						placeholder="Item Name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Price</label>
				<div class="col-sm-10">
					<input type="text" ng-model="data.price" placeholder="Price">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Labour</label>
				<div class="col-sm-10">
					<input type="text" ng-model="data.labour" placeholder="Labour">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Tax</label>
				<div class="col-sm-10">
					<input type="text" ng-model="data.tax" placeholder="Tax">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Discount</label>
				<div class="col-sm-10">
					<input type="text" ng-model="data.discount" placeholder="Discount">
				</div>
			</div>
		</div>
	</form>

	<hr>
	<button class="btn btn-success" ng-disabled=" error || !complete"
		ng-click="saveItem(data.code)">
		<span class="glyphicon glyphicon-save"></span> Save Changes
	</button>
</body>
</html>