<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Edit</th>
				<th>Item Code</th>
				<th>Item Name</th>
				<th>Price</th>
				<th>Labour</th>
				<th>Tax</th>
				<th>Discount</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items">
				<td>
					<button class="btn" ng-click="editItem($index,item.code)">
						<span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
					</button>
				</td>
				<td>{{ item.code }}</td>
				<td>{{ item.name }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.labour }}</td>
				<td>{{ item.tax }}</td>
				<td>{{ item.discount }}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>