<!DOCTYPE html>
<html ng-app="gridBill">
<link href="../../angular/bootstrap.min.css" rel="stylesheet">
<link href="../../angular/xeditable/css/xeditable.css" rel="stylesheet">
<head>
<meta charset="utf-8">
<title>Custom Plunker</title>
<link rel="stylesheet" type="text/css" href="../../angular/ng-grid.css" />
<link rel="stylesheet" type="text/css" href="item-grid.css" />
<script src="../../angular/jquery.min.js"></script>
<script src="../../angular/angular.min.js"></script>
<script type="text/javascript" src="../../angular/ng-grid.debug.js"></script>
<link href="../../angular/xeditable/css/xeditable.css" rel="stylesheet">
<script type="text/javascript" src="item-grid.js"></script>
</head>
<body ng-controller="gridCtrl">
	<hr class="ng-scope">
	<div class="gridStyle" ng-grid="gridOptions"></div>
	<div class="subTotal">
		Sub Total : <input type="text" ng-model="billTotal" ng-disabled="true">
	</div>
	<hr class="ng-scope">

	<button type="button" ng-disabled="!newbill" ng-click="addItem()"
		class="btn btn-success">Add item</button>
	<button type="submit" ng-disabled="!complete" class="btn btn-success"
		ng-click="saveBill()">save</button>
	<hr class="ng-scope">
	<script src="item-grid.js"></script>
</body>
</html>